:root {
  --color-red: #ee1b24;
  --color-black: #2e2e2e;
  --color-white: #fff;
  --color-grey: #f9f9f9;
  --color-shadow: #f3f3f3;
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 18px !important;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
}
header {
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding: 0;
  margin: 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-end;
  align-items: center;
}
.logo img {
  width: 180px;
}
.logo img:hover {
  transform: scale(1.02);
}
nav ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 80%;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 1.1rem;
  padding: 5px;
}
#navlinks ul li a.selected {
  background-color: var(--color-red);
}
@media (hover: hover) {
  nav ul li a:hover {
    background-color: var(--color-red);
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-black);
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: var(--color-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--color-red);
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-black);
  z-index: 99;
}
.menu-icon {
  display: none !important;
}
.menu__btn--open {
  background-color: var(--color-white);
  color: var(--color-red);
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 1210px) {
  nav {
    width: 70%;
  }
}
@media screen and (max-width: 1120px) {
  nav {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    position: absolute;
    z-index: 999;
    background-color: var(--color-black);
    width: 65%;
    top: -1000px;
    right: 0;
    padding: 20px 0;
    transition: 1s;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  nav ul li {
    padding: 10px;
    text-align: center;
  }
  nav ul li a {
    color: var(--color-white);
    font-size: 1.8rem;
  }
  .menu-icon {
    display: block !important;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    text-align: center;
  }
  .menu-icon:hover {
    color: var(--color-red);
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  padding: 20px;
  bottom: 0;
  background-color: rgba(46, 46, 46, 0.6);
}
@media screen and (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    gap: 0px;
  }
  .footer-container a {
    align-self: flex-start;
    margin: 1rem auto;
  }
}
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  font-size: 14px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-main {
  color: var(--color-white);
  background-color: var(--color-red);
  letter-spacing: 1px;
  /* animation: slideInBottom 1s ease-out 5.8s backwards; */
}
.btn-main:hover::after {
  transform: scaleY(1.6) scaleX(1.4);
  opacity: 0;
}
.btn-main::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* border-radius: 10rem; */
  transition: all 0.5s;
}
.sub-header {
  height: 300px;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  position: relative;
}
.sub-header h3 {
  color: var(--color-white);
  font-size: 35px;
  letter-spacing: 2px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer2 {
  padding: 30px 0 10px;
  background-color: var(--color-black);
  color: white;
  margin-top: 20px;
}
.contact-icons a {
  text-decoration: none;
  color: #fff;
}
.contact-icons a:hover i {
  background-color: var(--color-white);
}
.contact-icons a:hover i {
  color: var(--color-red);
}
.contact-icons a:focus i {
  background-color: var(--color-white);
}
.contact-icons {
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
}
.contact-icons i {
  background-color: var(--color-red);
  padding: 7px 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
}
.footer-text {
  text-align: center;
}
.footer-text p {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--color-white);
}
.footer-text p.copyright {
  padding: 10px;
}
.footer-text {
  margin: 0;
  font-size: 1.6rem;
}
