@import "global.css";

.swiper-container {
  width: 100%;
  height: 100dvh;
  position: relative;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  position: relative;
}
.swiper-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-body p {
  color: var(--color-white);
  font-size: 50px;
  text-align: center;
}
.swipe1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/unsplash_HGdGqzjbvZA.png");
}
.swipe2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/pexels-thomas-shockey-6290721.jpg");
}
.swipe3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/pexels-sơn-bờm-1773113.jpg");
    position: relative;
}
.swipe4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/pexels-luis-quintero-2014775.jpg");
}
.swiper-body2{
  background-color: rgba(238, 27, 36, 0.2);
  position: absolute;
  top: 45%;
  left: 67%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px){
  .swiper-body2{
    left: 50%;
  }
}
.swiper-body2 h3{
  font-size: 2rem;
  margin: 0;
}
.swiper-body2 h1{
  font-size: 6rem;
  margin: 0;
  font-family: "Merienda", cursive;
}
.swiper-body2 p{
  font-size: 1.6rem;
  margin: 0;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(238, 27, 36, 0.6);
  color: var(--color-white);
  font-size: 18px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--color-red);
}
